h1{
	color: blue;
	text-shadow: 3px 3px green;
	font-family: dancing script;
	animation: he 3s ease 1;
	
}
html{
	height: 100%;
}
body{
	background-image: radial-gradient(orange, blue);
	background-repeat:no-repeat;
	background-size: cover;
	height: auto;
}
p a{
	color: red
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
.fa {
  padding: 0px;
  font-size: 30px;
  width: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: green;
  color: white;
}
