h1{
	color: gold;
	text-shadow: 2px 2px green;
	font-family: Times New Roman;
}
body{
	background-image: url("loveb.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.submit input{
	border-radius: 50%;
	background-color: pink;
	font-family: Courier New;
}
.q textarea{
	font-family: Times New Roman;
}
@media screen and (min-device-width: 600px) {
	html{
		height: 100%;
	}
}
